<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>

<body>
    <div>
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="roomID" placeholder="Enter Room ID">
        <button id="btnCreateRoom">Enter</button>
        <!-- <button id="btnjoinRoom">Join roomn</button> -->
    </div>
    <!-- <script src="script.js" defer></script> -->
    <script src="home.js" defer></script>
</body>
</html>
